In [1]:
fruits = {'apple', 'banana', 'cherry'}
print(fruits)

{'banana', 'apple', 'cherry'}

In [2]:
empty_set = set()
print(empty_set)

set()

In [3]:
numbers = {1, 2, 3}
numbers.add(4)
print(numbers)

{1, 2, 3, 4}

In [4]:
numbers.update({5, 6, 7})
print(numbers)

{1, 2, 3, 4, 5, 6, 7}

In [5]:
numbers.discard(7)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [7]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a & b)

{3}

In [8]:
print(a | b)

{1, 2, 3, 4, 5}

In [9]:
print(a ^ b)

{1, 2, 4, 5}

In [10]:
colors = ('red', 'blue', 'green')
print(colors)

('red', 'blue', 'green')

In [11]:
tuple1 = (1, 2, 3)
print(tuple1)

(1, 2, 3)

In [12]:
tuple2 = (4, 5)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5)

In [13]:
print(tuple1 * 2)

(1, 2, 3, 1, 2, 3)

In [14]:
print(tuple3[1:4])

(2, 3, 4)

In [15]:
print(list(tuple1))

[1, 2, 3]

In [16]:
tuple4 = (1, 2, 2, 3, 3, 3)
print(tuple4.count(3))

3

In [17]:
print(tuple4.index(2))

1

In [18]:
tuple5 = ('apple', 'banana', 'apple')
set_from_tuple = set(tuple5)
print(set_from_tuple)

{'apple', 'banana'}

In [19]:
set1 = {5, 6, 7}
tuple_from_set = tuple(set1)
print(tuple_from_set)

(5, 6, 7)

In [20]:
a = {1, 2}
b = {1, 2, 3, 4}
print(a.issubset(b))

True

In [21]:
print(b.issuperset(a))

True

In [22]:
s = {1, 2, 3}
print(s)

{1, 2, 3}

In [23]:
s = set()
s.add(4)
print(s)

{4}

In [24]:
s.update([5, 6])
print(s)

{4, 5, 6}

In [25]:
s.remove(4)
print(s)

{5, 6}

In [26]:
s.discard(5)
print(s)

{6}

In [27]:
element = s.pop()
print(element, s)

6 set()

In [28]:
s.clear()
print(s)

set()

In [29]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2)
print(set1 & set2)
print(set1 - set2)
print(set1 ^ set2)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [31]:
t = ()
t = ('element',)

In [32]:
t1 = (1, 2)
t2 = (3, 4)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4)

In [33]:
print(t3[1:3])

(2, 3)

In [34]:
t = (1, 2, 2, 3)
print(t.index(2))
print(t.count(2))

1
2

In [35]:
lst = list(t)
print(lst)

[1, 2, 2, 3]

In [36]:
t = tuple(lst)
print(t)

(1, 2, 2, 3)

In [37]:
s = set(t)
print(s)

{1, 2, 3}

In [38]:
t = tuple(s)
print(t)

(1, 2, 3)

In [39]:
lst = [1, 1, 2, 3, 4, 4]
unique_lst = list(set(lst))
print(unique_lst)

[1, 2, 3, 4]

In [40]:
set_a = {1, 2}
set_b = {1, 2, 3}
print(set_a.issubset(set_b))
print(set_b.issuperset(set_a))

True
True

In [41]:
tuples = [(1, 2), (3, 4), (1, 2)]
print(len(tuples) != len(set(tuples)))

True

In [42]:
sets = [{1, 2}, {2, 3}, {2, 4}]
common_elements = set.intersection(*sets)
print(common_elements)

{2}

In [44]:
lst_tuples = [(1, 3), (3, 2), (2, 1)]
sorted_lst = sorted(lst_tuples, key=lambda x: x[1])
print(sorted_lst)

[(2, 1), (3, 2), (1, 3)]

In [45]:
tuples = ((1, 2), (3, 4))
set_of_tuples = set(tuples)
print(set_of_tuples)

{(1, 2), (3, 4)}