In [1]:
student = {
    "name": "Mateenah",
    "age": 25,
    "course": "Python"
}
print(student)

{'name': 'Mateenah', 'age': 25, 'course': 'Python'}

In [2]:
print("Name:", student["name"])
print("Course:", student.get("course"))

Name: Mateenah
Course: Python

In [9]:
student["city"] = "Kupwara"
student["age"] = 25


if "course" in student:
    del student["course"]

print("Updated student info:", student)

Updated student info: {'name': 'Mateenah', 'age': 25, 'city': 'Kupwara'}

In [10]:

for key, value in student.items():
    print(f"{key} → {value}")

name → Mateenah
age → 25
city → Kupwara

In [11]:
print("Keys:", student.keys())
print("Values:", student.values())
print("Items:", student.items())

Keys: dict_keys(['name', 'age', 'city'])
Values: dict_values(['Mateenah', 25, 'Kupwara'])
Items: dict_items([('name', 'Mateenah'), ('age', 25), ('city', 'Kupwara')])

In [12]:
print("Keys:", student.keys())
print("Values:", student.values())
print("Items:", student.items())


student.update({"email": "mateenah@example.com", "age": 26})
print("After update:", student)


print("Popped:", student.pop("course", "Not found"))
print("After pop:", student)

Keys: dict_keys(['name', 'age', 'city'])
Values: dict_values(['Mateenah', 25, 'Kupwara'])
Items: dict_items([('name', 'Mateenah'), ('age', 25), ('city', 'Kupwara')])
After update: {'name': 'Mateenah', 'age': 26, 'city': 'Kupwara', 'email': 'mateenah@example.com'}
Popped: Not found
After pop: {'name': 'Mateenah', 'age': 26, 'city': 'Kupwara', 'email': 'mateenah@example.com'}

In [13]:
school = {
    "classA": {"name": "Ali", "score": 92},
    "classB": {"name": "Zara", "score": 88}
}


print("Class B student:", school["classB"]["name"])

Class B student: Zara

In [14]:
# Squares of numbers from 1 to 5
squares = {x: x**2 for x in range(1, 6)}
print("Squares:", squares)

# Filter even squares
even_squares = {x: x**2 for x in range(1, 11) if x % 2 == 0}
print("Even Squares:", even_squares)

Squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
Even Squares: {2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [15]:
weather = {
    "location": {
        "city": "Srinagar",
        "lat": 34.0837,
        "lon": 74.7973
    },
    "temperature": {
        "current": 21.5,
        "unit": "Celsius"
    },
    "condition": "clear sky"
}

print("City:", weather["location"]["city"])
print("Current Temperature:", weather["temperature"]["current"])

City: Srinagar
Current Temperature: 21.5

In [45]:
book = {
    "title": "Learning APIs",
    "author": {
        "first_name": "Mateenah",
        "last_name": "Jahan"
    },
    "year": 2024
}
print(book)

{'title': 'Learning APIs', 'author': {'first_name': 'Mateenah', 'last_name': 'Jahan'}, 'year': 2024}

In [46]:
result = {
    "name": "Ayaan",
    "marks": {
        "math": 78,
        "science": 82,
        "english": 88
    }
}

marks = result["marks"]
average = (marks["math"] + marks["science"] + marks["english"]) / 3

print("Average marks:", average)

Average marks: 82.66666666666667

In [48]:
product = {
    "name": "Laptop",
    "brand": "Dell",
    "price": 60000,
    "warranty": "2 years"
}
removed = product.pop("warranty")
print("Removed:", removed)
print("Updated product:", product)

Removed: 2 years
Updated product: {'name': 'Laptop', 'brand': 'Dell', 'price': 60000}

In [47]:
person = {
    "name": "Mateenah",
    "country": "India",
    "language": "Python"
}
for key, value in person.items():
    print(f"{key} → {value}")

name → Mateenah
country → India
language → Python

In [43]:
users = {
    "data": [
        {"id": 1, "name": "Ali"},
        {"id": 2, "name": "Zara"},
        {"id": 3, "name": "Faizan"}
    ]
}
print(users)

{'data': [{'id': 1, 'name': 'Ali'}, {'id': 2, 'name': 'Zara'}, {'id': 3, 'name': 'Faizan'}]}

In [42]:
result = {
    "name": "Ayaan",
    "marks": {
        "math": 78,
        "science": 82,
        "english": 88
    }
}
print(result)

{'name': 'Ayaan', 'marks': {'math': 78, 'science': 82, 'english': 88}}

In [41]:
result = {
    "name": "Ayaan",
    "marks": {
        "math": 78,
        "science": 82,
        "english": 88
    }
}

In [38]:
average = 82.6
print("Average: " + str(average))

Average: 82.6

In [34]:
average = 82.6
print("Average:", average)

Average: 82.6

In [49]:
student = {
    "name": "Ayaan",
    "age": 14
}
student.update({"class": 9, "section": "A"})
print("After update:", student)

After update: {'name': 'Ayaan', 'age': 14, 'class': 9, 'section': 'A'}

In [50]:
user = {
    "id": 1,
    "profile": {
        "username": "mateenah_j",
        "location": "Srinagar",
        "skills": {
            "python": "advanced",
            "sql": "intermediate"
        }
    }
}
print("Location:", user["profile"]["location"])
print("Python Skill:", user["profile"]["skills"]["python"])

Location: Srinagar
Python Skill: advanced

In [51]:
weather_data = {
    "coord": {"lon": 74.8, "lat": 34.1},
    "main": {
        "temp": 21.5,
        "pressure": 1012,
        "humidity": 70
    },
    "name": "Srinagar"
}
print("City:", weather_data["name"])
print("Temperature:", weather_data["main"]["temp"], "°C")
print("Humidity:", weather_data["main"]["humidity"], "%")

City: Srinagar
Temperature: 21.5 °C
Humidity: 70 %

In [52]:
def greet():
    print("Hello, Mateenah!")

greet()

Hello, Mateenah!

In [53]:
def add_numbers(a, b):
    return a + b

print("Sum:", add_numbers(4, 6))

Sum: 10

In [54]:
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

print(check_even_odd(5))
print(check_even_odd(8))

Odd
Even

In [55]:
def welcome(name):
    return f"Welcome, {name}!"

print(welcome("Mateenah"))

Welcome, Mateenah!

In [56]:
def square(num):
    return num ** 2

print("Square of 7 is:", square(7))

Square of 7 is: 49

In [57]:
def greet(name="Guest"):
    return f"Hello, {name}!"

print(greet("Mateenah"))
print(greet())

Hello, Mateenah!
Hello, Guest!

In [58]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

print("Factorial of 5:", factorial(5))

Factorial of 5: 120

In [59]:
def reverse_string(text):
    return text[::-1]

print("Reverse of 'hello':", reverse_string("hello"))

Reverse of 'hello': olleh

In [60]:
def get_city_and_coordinates(weather_data):
    city = weather_data["name"]
    lat = weather_data["coord"]["lat"]
    lon = weather_data["coord"]["lon"]
    return f"City: {city}, Latitude: {lat}, Longitude: {lon}"


print(get_city_and_coordinates({
    "coord": {"lon": 74.8, "lat": 34.1},
    "name": "Srinagar"
}))

City: Srinagar, Latitude: 34.1, Longitude: 74.8

In [61]:
def get_product_names(inventory):
    return [product["name"] for product in inventory["products"]]


print(get_product_names({
    "products": [
        {"id": 1, "name": "Laptop", "price": 45000},
        {"id": 2, "name": "Mouse", "price": 500},
        {"id": 3, "name": "Monitor", "price": 10000}
    ]
}))

['Laptop', 'Mouse', 'Monitor']

In [62]:


def update_city(student, new_city):
    student["city"] = new_city
    return student

print(update_city({"name": "Mateenah", "city": "Kupwara"}, "Srinagar"))

{'name': 'Mateenah', 'city': 'Srinagar'}

In [63]:


def delete_age(student):
    if "age" in student:
        del student["age"]
    return student


print(delete_age({"name": "Mateenah", "age": 28}))

{'name': 'Mateenah'}

In [65]:


def pop_key(data, key):
    value = data.pop(key, "Key not found")
    return value, data


value, updated = pop_key({"a": 1, "b": 2}, "a")
print("Popped:", value)
print("Updated dict:", updated)

Popped: 1
Updated dict: {'b': 2}

In [66]:
def remove_item(my_list, item):
    if item in my_list:
        my_list.remove(item)
    return my_list


print(remove_item(["apple", "banana", "mango"], "banana"))

['apple', 'mango']

In [68]:
def square(x):
    return x ** 2


square_lambda = lambda x: x ** 2

print("Square:", square_lambda(5))

Square: 25

In [69]:
def add(a, b):
    return a + b

print(add(5, 3))

8

In [70]:
print(add(b=3, a=5))

8

In [71]:
def greet(name="Guest"):
    return f"Hello, {name}!"

print(greet())
print(greet("Zara"))

Hello, Guest!
Hello, Zara!

In [72]:
def multiply(x, y):
    return x * y

result = multiply(4, 5)
print("Product:", result)

Product: 20

In [73]:
x = 10  #this is global

def change():
    x = 5  # this is local
    print("Inside:", x)

change()
print("Outside:", x)

Inside: 5
Outside: 10

In [74]:
def subtract(a, b):
    """
    Returns the result of a - b.
    Parameters:
        a (int/float)
        b (int/float)
    """
    return a - b

help(subtract)

Help on function subtract in module __main__:

subtract(a, b)
    Returns the result of a - b.
    Parameters:
        a (int/float)
        b (int/float)

In [75]:
def calculate_area(length, width):
    """Returns area of a rectangle."""
    return length * width


print("Room 1 area:", calculate_area(5, 4))
print("Room 2 area:", calculate_area(6, 3))

Room 1 area: 20
Room 2 area: 18

In [67]:
def get_first_n_items(my_list, n):
    return my_list[:n]


print(get_first_n_items([10, 20, 30, 40, 50], 3))

[10, 20, 30]